In [1]:
#File dependencies
import pandas as pd
import numpy as np

In [2]:
#CSV file original
file = "500_Cities__Diagnosed_diabetes_among_adults_aged___18_years - 500_Cities__Diagnosed_diabetes_among_adults_aged___18_years.csv"
cities_500 = pd.read_csv(file)
cities_500.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,CA,California,Inglewood,Census Tract,BRFSS,Health Outcomes,0636546-06037601801,Diagnosed diabetes among adults aged >=18 Years,%,...,13.5,NaN,NaN,"2,472","(33.9439711273, -118.349937728)",HLTHOUT,DIABETES,636546.0,6.037602e+09,Diabetes
1,2017,AL,Alabama,Huntsville,Census Tract,BRFSS,Health Outcomes,0137000-01089002922,Diagnosed diabetes among adults aged >=18 Years,%,...,10.3,NaN,NaN,"4,387","(34.612755588, -86.5329568642)",HLTHOUT,DIABETES,137000.0,1.089003e+09,Diabetes
2,2017,AK,Alaska,Anchorage,Census Tract,BRFSS,Health Outcomes,0203000-02020002501,Diagnosed diabetes among adults aged >=18 Years,%,...,7.8,NaN,NaN,"4,993","(61.1593945029, -149.899866691)",HLTHOUT,DIABETES,203000.0,2.020003e+09,Diabetes
3,2017,AZ,Arizona,Tempe,Census Tract,BRFSS,Health Outcomes,0473000-04013319907,Diagnosed diabetes among adults aged >=18 Years,%,...,7.9,NaN,NaN,"2,225","(33.3419171912, -111.919809152)",HLTHOUT,DIABETES,473000.0,4.013320e+09,Diabetes
4,2017,AZ,Arizona,Yuma,City,BRFSS,Health Outcomes,485540,Diagnosed diabetes among adults aged >=18 Years,%,...,11.3,NaN,NaN,"93,064","(32.5986027117, -114.54836837)",HLTHOUT,DIABETES,485540.0,NaN,Diabetes

In [3]:
#Check for data type issues
cities_500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        29006 non-null  int64
 1   StateAbbr                   29006 non-null  object
 2   StateDesc                   29006 non-null  object
 3   CityName                    29004 non-null  object
 4   GeographicLevel             29006 non-null  object
 5   DataSource                  29006 non-null  object
 6   Category                    29006 non-null  object
 7   UniqueID                    29006 non-null  object
 8   Measure                     29006 non-null  object
 9   Data_Value_Unit             29006 non-null  object
 10  DataValueTypeID             29006 non-null  object
 11  Data_Value_Type             29006 non-null  object
 12  Data_Value                  28212 non-null  float64
 13  Low_Confidence_Limit        28212 non-null  float64
 14  High_Confidence_Limit       28212 non-null  float64
 15  Data_Value_Footnote_Symbol  794 non-null    object
 16  Data_Value_Footnote         794 non-null    object
 17  PopulationCount             29006 non-null  object
 18  GeoLocation                 29004 non-null  object
 19  CategoryID                  29006 non-null  object
 20  MeasureId                   29006 non-null  object
 21  CityFIPS                    29004 non-null  float64
 22  TractFIPS                   28004 non-null  float64
 23  Short_Question_Text         29006 non-null  object
dtypes: float64(5), int64(1), object(18)
memory usage: 5.3+ MB

In [4]:
# check if all states represented
print(cities_500["StateDesc"].unique())
print("-" * 30)
print(f'All of the states represented in dataset: {len(cities_500["StateDesc"].unique())}')

['California' 'Alabama' 'Alaska' 'Arizona' 'Connecticut' 'Delaware'
 'Florida' 'Colorado' 'Indiana' 'Iowa' 'Kansas' 'Louisiana'
 'Massachusetts' 'Minnesota' 'Mississippi' 'New Hampshire' 'New Jersey'
 'New York' 'North Carolin' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon'
 'Pennsylvania' 'Rhode Island' 'South Carolin' 'Tennessee' 'Texas'
 'Virginia' 'Washington' 'Wisconsin' 'United States' 'Arkansas' 'Illinois'
 'District of C' 'Georgia' 'Hawaii' 'Idaho' 'Kentucky' 'Maryland'
 'Michigan' 'Maine' 'Missouri' 'Nevada' 'Nebraska' 'Montana' 'New Mexico'
 'South Dakota' 'Utah' 'Vermont' 'Wyoming' 'West Virginia']
------------------------------
All of the states represented in dataset: 52

In [7]:
#Print possible variables in "Category" & "Measure"
print("Category")
print("-" * 30)
print(cities_500["Category"].unique())
print("*" * 74)
print("Measure")
print("-" * 30)
print(cities_500["Measure"].unique())

Category
------------------------------
['Health Outcomes']
**************************************************************************
Measure
------------------------------
['Diagnosed diabetes among adults aged >=18 Years']

In [8]:
#Reference for columns
cities_500.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [9]:
#Reducing data to key columns
cities_data_reduced = cities_500[['StateDesc','Data_Value','PopulationCount']]
cities_data_reduced.head()

    StateDesc  Data_Value PopulationCount
0  California        12.7           2,472
1     Alabama         9.3           4,387
2      Alaska         7.4           4,993
3     Arizona         7.0           2,225
4     Arizona        11.1          93,064

In [10]:
#Checking reduced data
cities_data_reduced.dropna(how='any')
cities_data_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   StateDesc        29006 non-null  object
 1   Data_Value       28212 non-null  float64
 2   PopulationCount  29006 non-null  object
dtypes: float64(1), object(2)
memory usage: 680.0+ KB

In [17]:
#Converting Data_Value into a float
cities_data_reduced['PopulationCount'] = cities_data_reduced['PopulationCount'].str.replace(',','')
cities_data_reduced['PopulationCount'] = cities_data_reduced['PopulationCount'].astype(float)
cities_data_reduced['PopulationCount'].dtype

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

dtype('float64')

In [18]:
#Creating new column to identify Diabetes Population
cities_data_reduced['ValueXPopSize'] = (cities_data_reduced['PopulationCount'] * 
                                               cities_data_reduced['Data_Value'] * .01)
cities_data_reduced.head()

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    StateDesc  Data_Value  PopulationCount  ValueXPopSize
0  California        12.7           2472.0        313.944
1     Alabama         9.3           4387.0        407.991
2      Alaska         7.4           4993.0        369.482
3     Arizona         7.0           2225.0        155.750
4     Arizona        11.1          93064.0      10330.104

In [21]:
#Code to combine states data and add Diabetes Population column
state_data = cities_data_reduced.groupby(['StateDesc']).sum()['ValueXPopSize']
state_data.head()

StateDesc
Alabama        388753.945
Alaska          66192.253
Arizona       1073095.769
Arkansas       153044.157
California    6571891.358
Name: ValueXPopSize, dtype: float64

In [22]:
#Store new spreadsheet
state_data.to_csv("state_data.csv", encoding="utf-8", index=False, header=True)